{{>partials/header}}

<div class="container mt-5">
    <h1 class="title has-text-centered">Contato</h1>
    <div class="columns is-flex is-justify-content-center">
        <div class="column is-6">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p>Estamos aqui para ouvir você! Preencha o formulário abaixo e entraremos em contato o mais rápido possível.</p>
                    </div>
                    <form>
                        <div class="field">
                            <label class="label">Nome</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Seu Nome" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Seu E-mail" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Mensagem</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Sua Mensagem" required></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-link">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{>partials/footer}}

</body>
</html>
