{{>partials/header}}
    


  <div class="columns is-flex is-justify-content-center mt-4">
        <div class="column is-3 	">
           <div class="card ">
      <div class="card-image">
        <figure class="image is-5by4">
          <img
            src="/img/facebook.jpeg" alt="facebook"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32px">
              <img
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 is-flex is-justify-content-center">Fecebooka</p>
          </div>
        </div>
    
        <div class="content">
          <p>Bem-vindo ao Fecebooka: A Nova Era da Conexão!</p>

        Imagine um lugar onde você pode compartilhar momentos, fazer novas amizades e se conectar com pessoas do mundo todo. Apresentamos o Fecebooka, a rede social que traz a essência do Facebook com um toque único!

        Conecte-se e Inspire!
        No Fecebooka, cada post é uma chance de brilhar. Compartilhe suas histórias e descubra conteúdos incríveis de uma comunidade apaixonada.
        <p>Fecebooka: Conectando Vidas, Transformando Histórias.</p>
          <br />
        </div>
      </div>
    </div>
        </div>
    </div>

{{>partials/footer}}

</body>
</html>