{{>partials/header}}

<div class="container mt-5">
    <h1 class="title has-text-centered">Sobre Nós</h1>
    <div class="columns is-flex is-justify-content-center">
        <div class="column is-8">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p><strong>Bem-vindo ao Fecebooka!</strong></p>
                        <p>
                            No Fecebooka, nossa missão é conectar pessoas de forma significativa. Criamos uma plataforma onde você pode compartilhar seus momentos, fazer novas amizades e se engajar com uma comunidade apaixonada.
                        </p>
                        <p>
                            Desde o nosso lançamento, temos nos dedicado a proporcionar uma experiência única e segura. Acreditamos que a verdadeira conexão vai além de likes e shares; trata-se de construir relacionamentos genuínos e impactantes.
                        </p>
                        <p>
                            Nosso time é composto por profissionais dedicados que estão sempre prontos para ouvir seus feedbacks e melhorar nossa plataforma. Queremos que você sinta que o Fecebooka é mais do que uma rede social; é um espaço para crescer, compartilhar e inspirar.
                        </p>
                        <p><strong>Junte-se a nós nessa jornada!</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>

{{>partials/footer}}

</body>
</html>
